.app-container {
  background-color: #fcf4e7;
  height: 150vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #212121; /* Dark text color */
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.app-container p {
  color: #1a1c16;
  font-weight: bold;
  text-align: center;
}

.welcome {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pref {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

.ingredient-container {
  text-align: center;
  margin-top: 20px;
}

.ingredient-text {
  color: #212121;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: #c3dbdb; /* Light blue background */
  padding: 10px;
  border-radius: 10px;
  min-width: 250px;
  max-width: 500px;
  margin: auto;
}

.ingredient-item {
  background-color: #203045; /* Dark blue background */
  color: #ffffff; /* White text color */
  padding: 5px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.close-button {
  background: none;
  border: none;
  color: #ffffff; /* White color for the close icon */
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 5px;
  font-size: 0.8rem;
}

.add-item {
  background-color: #203045; /* Dark blue background */
  color: #ffffff; /* White text color */
  padding: 5px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  cursor: pointer;
  gap: 5px;
}

.add-input {
  width: 50px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #203045;
  font-size: 0.9rem;
  background-color: #203045;
  color: #ffffff;
  outline: none;
  transition: width 0.3s ease;
}

.add-item:hover,
.blue-box:hover {
  background-color: #203045;
}

.clear-button {
  background-color: #fcf4e7;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 5px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 15px;
}

.clear-button:hover {
  background: none;
  color: #212121; /* Darker color for "Clear All" */
  text-decoration: underline;
}

.generate-button {
  background-color: #12263e; /* Dark blue */
  color: #ffffff; /* White text */
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  width: 80%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.generate-button:hover {
  background-color: #0f1d2e; /* Slightly darker blue on hover */
}

.content-container {
  width: 85%;
  max-width: 500px; /* Optional: to set a max width */
  margin: 0 auto;
}

.special-requests-container {
  margin-top: 20px;
  text-align: center;
}

.special-requests-label {
  font-weight: bold;
  color: #1a1c16;
  display: block;
  margin-bottom: 8px;
}

.special-requests-input {
  width: 80%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #000000;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 1rem;
}
