.app-container {
  background-color: #fcf4e7;
  height: 150vh;
}

.app-title {
  margin: 0;
}

.slider-container {
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.app-container p {
  color: #1a1c16;
  font-weight: bold;
  text-align: center;
}

.welcome {
  text-align: center;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.pref {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
}

.question {
  font-size: larger; /* TODO: Is using Larger a good notation? */
  margin-bottom: 0px;
}

.ingredient-container {
  text-align: center;
  margin-top: 20px;
}

.ingredient-text {
  color: blue;
  font-size: 24px;
  margin-bottom: 10px;
}

.blue-box {
  background-color: #c1d9db;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.add-button {
  background-color: #12273b;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button:hover {
  background-color: #408ed6;
}

.add-ingredient {
  color: white;
}
